name: Test

on:
  workflow_call:
    inputs:
      test-dir:
        description: "Path to the tests directory."
        type: string
        required: false
        default: "tests"

      zmk-version:
        description: "Version of ZMK to test with (default: read from VERSION)"
        type: string
        required: false
        default: ""

      run-in-container:
        description:
          "Run in docker container; the default is to use Nix to set up West and
          the Zephyr SDK."
        type: boolean
        required: false

      always-update-west:
        description: "Run west update even on cache hits."
        type: boolean
        required: false

      verbose:
        description: "Show detailed build logs."
        type: boolean
        required: false

      toolchain:
        description: "Toolchain if using nix ('gnuarmemb' or 'zephyr')"
        type: string
        required: false
        default: gnuarmemb

jobs:
  run-tests:
    runs-on: ubuntu-24.04

    container:
      ${{ fromJSON(inputs.run-in-container) &&
      'docker.io/zmkfirmware/zmk-build-arm:3.5' || null }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set ZMK version
        run: |
          ZMK_VERSION="${{ inputs.zmk-version }}"
          sed -i 's/<zmk-version>/${ZMK_VERSION:-$(cat VERSION)}"/g' ${{ inputs.test-dir }}/west.yml
          cat ${{ inputs.test-dir }}/west.yml

      - name: Set up West and Zephyr SDK
        if: ${{ ! inputs.run-in-container }}
        uses: urob/zmk-actions/setup-sdk@v7.2.0
        with:
          toolchain: ${{ inputs.toolchain }}

      - name: Pull in ZMK and Zephyr modules
        uses: urob/zmk-actions/setup-zmk@v7.2.0
        id: setup-zmk
        with:
          config: ${{ inputs.test-dir }}
          always-update-west: ${{ inputs.always-update-west }}

      - name: Test
        uses: urob/zmk-actions/test@v7.2.0
        with:
          verbose: ${{ inputs.verbose }}
          test-dir: ${{ inputs.test-dir }}
          workspace: ${{ steps.setup-zmk.outputs.workspace }}
          zmk-src-dir: ${{ steps.setup-zmk.outputs.zmk-src-dir }}
