name: Check for new ZMK releases

on:
  workflow_call:
    inputs:
      upstream:
        description: "Upstream repository to track"
        type: string
        required: false
        default: "zmkfirmware/zmk"

      pr_branch:
        description: "Branch to push the PR to"
        type: string
        required: false
        default: "prepare-zmk-release"

      pr_label:
        description: "Label to add to the PR"
        type: string
        required: false
        default: ""

    secrets:
      token:
        required: true

jobs:
  upgrade-zmk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Fetch latest ZMK release
        run: |
          ZMK_VERSION=$(curl --silent \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --header 'content-type: application/json' \
            --url https://api.github.com/repos/${{ inputs.upstream }}/releases/latest |
            jq -r '.tag_name')
          echo "ZMK_VERSION=${ZMK_VERSION}" >> $GITHUB_ENV

      - name: Store version
        if: env.ZMK_VERSION != 'null'
        run: |
          echo "${{ env.ZMK_VERSION }}" >VERSION

      # TODO: replace version in readme

      - name: Detect changes
        id: changes
        run: |
          echo "count=$(git status --porcelain=v1 2>/dev/null | wc -l)" >>$GITHUB_OUTPUT

      - name: Commit & push changes
        if: steps.changes.outputs.count > 0
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git commit -a -m "Prepare ZMK release ${ZMK_VERSION}"
          git push -f origin ${{ github.ref_name }}:${{ inputs.pr_branch }}

      - name: Open pull request if needed
        if: steps.changes.outputs.count > 0
        env:
          GH_TOKEN: ${{ secrets.token }}
        run: |
          # Only open a new PR if the branch is not attached to an existing one. Needs a PAT with
          # read access to metadata, and read & write access to pull requests.
          PR=$(gh pr list --head ${{ inputs.pr_branch }} --json number -q '.[0].number')
          if [ -z $PR ]; then
            pr_label=${{ inputs.pr_label }}
            gh pr create --head ${{ inputs.pr_branch }} --title "Prepare ZMK release ${ZMK_VERSION}" \
              ${pr_label:+--label "$pr_label"} --body \
              "Full log: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          else
            echo "Pull request already exists, won't create a new one."
          fi
