name: Create a new module release

on:
  workflow_call:
    inputs:
      release_branch:
        description: "Branch to create the release from"
        type: string
        required: false
        default: "main"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    if:
      github.event.pull_request.merged == true &&
      startsWith(github.event.pull_request.title, 'Prepare ZMK release')

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Fetch tags
        run: |
          tag=$(cat VERSION)
          echo "patch=${tag}" >>$GITHUB_ENV
          echo "minor=${tag%.*}" >>$GITHUB_ENV
          echo "major=${tag%%.*}" >>$GITHUB_ENV

      - name: Push tags
        run: |
          git tag ${{ env.tag }}
          git tag -f ${{ env.minor }}
          if [ ${{ env.major }} != "v0" ]; then
            git tag -f ${{ env. major }}
          fi

          git push -f --tags origin ${{ github.ref_name }}:${{ inputs.release_branch }}

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ env.patch }}" --draft --title "${{ env.patch }}" \
            --verify-tag --generate-notes

